[init]
	defaultBranch = main

[core]
	editor       = vim
	excludesFile = ~/.gitignore

[user]
	name = "Albert Romera"
	email = "albert.romera.arm@gmail.com"

[fetch]
	prune = true

[pull]
	rebase = true

[alias]
	st = status
	ch = checkout
	cb = checkout -b
	lg = log --abbrev-commit --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/code/rviewer/"]
    path = ~/.gitconfig-rviewer
