# JetBrains
.idea/
out/
build/
*.iml
*.ipr
*.iws
# Visual Studio Code
.vscode
# Node.js
node_modules/
.npm
.pnpm-store/
# Go, PHP
vendor
testdata
.composer
# Python
venv
.venv
*.pyc
# ansible-vault
*vaultPass*
*vault_pass*
# Logs
log/
logs/
*.log
*.sqlite
# OS files
.DS_Store
# Temporary files
*.swp
*.swo
*~
